.titulo_nosotros{
    font-size: 35px;
    color: white;
    text-align: center;
}
.texto-nosotros{
    background-color: rgba(0, 0, 0, 0.5);
    height: 580px;
    align-items: center;
}
.sobre_nosotros{
    color: white;
    margin: 30px;
    font-size: 20px;
}